/code/ssm-ver/dada-manager/dada-manager-mapper/.project
/code/ssm-ver/dada-manager/dada-manager-mapper/.settings
/code/ssm-ver/dada-manager/dada-manager-mapper/.classpath
/code/ssm-ver/dada-manager/dada-manager-pojo/.settings
/code/ssm-ver/dada-manager/dada-manager-pojo/.classpath
/code/ssm-ver/dada-manager/dada-manager-pojo/.project
/code/ssm-ver/dada-manager/dada-manager-service/.classpath
/code/ssm-ver/dada-manager/dada-manager-service/.project
/code/ssm-ver/dada-manager/dada-manager-service/.settings
/code/ssm-ver/dada-manager/dada-manager-web/.project
/code/ssm-ver/dada-manager/dada-manager-web/.settings
/code/ssm-ver/dada-manager/dada-manager-web/.classpath
